<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EbookSTR</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-pulse.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-transparent  box-shadow mb-5">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
                        </li>

                        @if (ViewBag.AuthId != 0)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Ebooks" asp-action="Index" asp-route-id="0">Книги</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Ebooks" asp-action="Index">Книги</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Authors" asp-action="Index">Автори</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Clients" asp-action="Index">Клієнти</a>
                        </li>
                        @if (ViewBag.ClientId != 0)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Purchases" asp-action="Index" asp-route-id="0">Покупки</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Purchases" asp-action="Index">Покупки</a>
                            </li>
                        }
                        
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Help" asp-action="Index">Довідка</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <header class="header">
        <div class="header-1">

        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
