@{
    ViewData["Title"] = "Дякуємо за покупку!";
}
<br>
<br>
<br>
<br>
<div class="text-center">
    <h5 class="display-4">Дякуємо за покупку!</h5>
    <br>
    <h5>На нашому сайті ще багато цікавих книжок</h5>
    <h5>Не бажаєте подивитись? :)</h5>
    <br>
    <br>
    <a type="button" class="btn btn-success btn-lg" href="https://localhost:5008/">Більше цікавих книжок!</a>

</div>
